/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo geral do body */
body {
    background-color: #121212;
    color: #fff;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Estilo geral do header */
.main-header {
    width: 100%;
    padding: 0;
    background-color: #1d1d1d;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 125px; /* Ajuste conforme necessário */
}

.logo img {
    max-height: 170px; /* Aumente esse valor conforme necessário */
    width: auto; /* Preserva as proporções da imagem */
    margin-top: 20px; /* Adicione uma margem superior para descer a imagem */
}


/* Botão de fechamento (X) para a página Figma */
.close-btn {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: #00f;
    text-decoration: none;
}

.close-btn:hover {
    text-decoration: underline;
}

/* Estilo do conteúdo */
.header {
    margin-top: 150px;
}

.header h1 {
    font-size: 48px;
    line-height: 1.2;
}

.header p {
    font-size: 19px;
    margin-top: 8px;
}

.highlight {
    color: #00f;
}

/* Seção de cards */
.cards-section {
    display: flex;
    justify-content: center;
    gap: 32px; /* Espaçamento horizontal entre os cards */
    margin-top: 32px;
    height: auto;
}

.card {
    background-color: rgb(39, 39, 39);
    padding: 32px;
    border-radius: 10px;
    width: 250px;
    margin-bottom: 32px; /* Espaçamento vertical entre os cards */
    transition: transform 0.3s ease; /* Adiciona transição suave */
    box-shadow: 2px 4px 8px 8px #02308d;
}

.card:hover {
    transform: translateY(-10px); /* Efeito de levantar */
}

.card h3 {
    font-size: 24px;
    margin-bottom: 16px;
}

.card p {
    font-size: 16px;
    margin-bottom: 24px;
}

.card a {
    color: #00f;
    text-decoration: none;
    font-weight: bold;
}

.card a:hover {
    text-decoration: underline;
}

/* Imagens dos cards */
.card-img {
    width: 100%;
    height: auto;
    margin-bottom: 16px;
    border-radius: 8px;
}

/* Responsividade */
@media (max-width: 768px) {
    .cards-section {
        flex-direction: column;
        align-items: center;
        gap: 24px; /* Ajusta o espaçamento entre os cards em telas menores */
    }

    .main-header {
        padding: 16px;
    }
}
